@model IEnumerable<Parcial_3.Models.Caso>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AbogadoAsignado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoCaso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCaso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prioridad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AbogadoAsignado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoCaso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCaso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioridad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CasoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CasoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CasoID })
        </td>
    </tr>
}

</table>
